streamlit==1.32.0
streamlit-authenticator==0.2.3
watchdog
anthropic
openai-agents
pandas==2.2.0
numpy==1.26.3
plotly==5.18.0
pyupbit==0.2.33
python-dateutil==2.8.2
anthropic==0.8.1
pytz==2023.3
requests==2.31.0
websocket-client==1.7.0
jinja2==3.1.2
matplotlib==3.8.2

watchdog
webdriver-manager
html5lib
playwright
nest_asyncio
PyMuPDF
Pillow
tweepy
typing
datetime
sys
UPBIT

yfinance==0.2.36
openai==1.12.0
langchain-openai==0.0.6
langchain==0.1.5
langchain-community==0.0.16
langchain-core==0.1.15
protobuf==4.25.1
python-dotenv==1.0.0
tqdm==4.66.1
tenacity==8.2.3
tiktoken==0.6.0
PyPDF2==3.0.1
docx2txt==0.8
